/* Font loading for firefox/Chrome */
@font-face {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: normal;
  src: local('Handlee'),
       url('font/Handlee-Regular.ttf') format('truetype'); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
  url('font/OpenSans-ExtraBold.ttf') format('truetype'); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('font/OpenSans-Regular.ttf') format('truetype'); }
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: local('FontAwesome'),
       url('font/FontAwesome-Webfont.ttf') format('truetype'); }

/* Enable vertical centering */
html { margin:0; height: 100%; }

/* There is no text selection in this UI */
body {
  -webkit-user-select: none;
  user-select: none;
  font: 10pt Open Sans;
  margin: 0;
  height: 100%; }

/* The title of the app */
h1 { font: 24pt "Open Sans"; font-weight: 800; margin-bottom: 0; }

/* Left and right column spacing */
td#leftlayout, td#rightlayout {
  vertical-align: top;
  min-width: 120px;
}

/* Buttons underneath the Sudoku board */
input[type="button"] {
  font-family: "Open Sans";
  background: gainsboro;
  border: 2px solid white;
  font-size: 17px;
  padding: 3px 8px;
  border-radius: 8px;
  margin: 1px 15px; 
  margin-top: 20px;

  /* --------- B --------- */
  height: 50px;
  width: 130px;
  /* --------------------- */
}
input[type="button"]:hover {
  background: rgb(255, 238, 124); }

/* The title of the puzzle */
.puzzlename {
   text-align:center;
   font: 24pt "Open Sans";
   font-weight: 800;
   padding-bottom: 10px; }

/* Timer display */
table.timescore {
  margin-top: -15px;
  border: 0;
  border-collapse: collapse;
  width: 450px; }
table.timescore td {
  font: 12pt "Open Sans";
  font-weight: 800; }

/* Display "Victory!" or "ok so far" hints */
.finished {
  display: none; }
.hinttext {
  display: none; }

/* Centered message underneath the UI */
#bottomtext {
  text-align:center;
  min-height: 30px;
  margin: 15px 0 0 0;
  font: 10pt Open Sans; }
/* Allow selection of user id */
#bottomtext nobr {
  -webkit-user-select: text;
  user-select: text; }

/* Styling for a menu of numbers */
table.numberkey {
  /* --------- B --------- */
  border-collapse: separate;
  border-spacing: 10px;
  /* --------------------- */
  margin: 0 30px;
  cursor: pointer;
  margin-bottom: 30px;
}

td.numberkey-cell {
  width: 32px; height: 32px;
  text-align: center; vertical-align: middle;
  line-height: 0;
  overflow: hidden;
  opacity: 0.38;
  /* border-radius: 8px;
  border: 2px solid white;  */

  /* --------- B --------- */
  border: 1px solid #777;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer; 
  background-color: gainsboro;
  transition: background-color 0.3s;
  color: #000000;
  /* --------------------- */
}

td.numberkey-cell:hover {
    background-color: rgb(255, 238, 124);
}

/* td.numberkey-cell.selected {
    background-color: rgb(255, 238, 124);
    border-color: rgb(63, 223, 255);
} */

td.numberkey-cell.selected {
  opacity: 1;
  background: rgb(255, 238, 124);
  border: 2px solid rgb(254, 220, 2); }

div.eraser {
  font-family: FontAwesome;
  font-size:30px;
  color:hotpink; 
}
table.numberkey .sudoku-answer {
  width: 32px; height: 32px;
  font-size:30px; }


/* The main sudoku table */
table.sudoku {
  border-collapse: collapse; 
  margin-top: 10px;
}

/* A sudoku cell */
td.sudoku-cell {
  /* width: 46px; height: 46px; */
  /* --------- B --------- */
  width: 66px; height: 66px;
  /* --------------------- */
  text-align: center; vertical-align: middle;
  line-height: 0;
  border: 1px solid black; 
}

/* A thin invisible border that becomes colored to show focus */
div.sudoku-border {
  /* width: 44px; height: 44px; */

  /* --------- B --------- */
  width: 64px; height: 64px;
  /* --------------------- */
  text-align: center; vertical-align: middle;
  border: 1px solid transparent;
  overflow: hidden; 
}
/* The focused state for a sudoku cell. */
div.sudoku-border.focus {
  border: 1px dotted hotpink; 
  background-color: rgba(255, 160, 207, 0.565)
}
/* A written answer number */
div.sudoku-answer {
  /* width: 44px; height: 44px; */
  /* --------- B --------- */
  width: 64px; height: 64px;
  font: 50px Handlee, sans-serif;
  /* --------------------- */
  text-align: center;
  cursor: pointer;
  padding: 0; margin: 0px; border: 0;
  color: #777;
  /* font: 40px Handlee, sans-serif; */
}

div.sudoku-answer:focus {
  outline: none; /* Remove default browser outline */
  border: 2px solid blue; /* Custom border to indicate focus */
}

/* A given hint number */
div.sudoku-given {
  /* width: 48px; height: 48px; */
  /* --------- B --------- */
  width: 68px; height: 68px;
  font: 46px 'Open Sans';
  line-height: 68px;
  pointer-events: none;
  /* --------------------- */
  text-align: center; vertical-align: middle;
  cursor: default;
  padding: 0; margin: -3px;
  /* line-height: 0; */
  /* font: 36px 'Open Sans'; */
  font-weight: 800; 
}

/* The thick borders between blocks */
td.sudoku-border {
  background: black; height: 1px; width: 1px; font-size: 0;
  border: 1px solid black;}

/* For little mini marks, this div into a cell with a table inside. */
div.sudoku-work {
  /* width: 44px; height: 44px; */
  /* --------- B --------- */
  width: 64px; height: 64px;
  /* --------------------- */
  text-align: center;
  cursor: pointer;
  padding: 0; margin: 0; border: 0; 
}

/* Mini marks table. */
table.sudoku-work-table {
  border-collapse: collapse;
  border: 0;
  margin: 0;
  width: 100%;
  height: 100%; }
/* Mini marks table cell. */
table.sudoku-work-table td {
  border: 0;
  padding: 0;
  margin: 0;
  line-height: 0;
  /* width: 15px; height: 14px; */
  /* --------- B --------- */
  width: 22px; height: 22px;
  /* --------------------- */
  text-align: center;
  overflow: hidden;
  vertical-align: middle; 
}

/* Mini marks mini digits. */
table.sudoku-work-table div {
  color: #111;
  /* font: 12px Handlee, sans-serif; */
  /* --------- B --------- */
  font: 16px Handlee, sans-serif;
  /* --------------------- */
  width: 100%;
  margin: 0 0; }

/* Little popup for "ok so far", "mistake", and "You win!" */
div.sudoku-popup {
  position: absolute;
  height: 42px; width: 220px;
  font: 30px 'Open Sans';
  font-weight: 800;
  cursor: default;
  padding: 2px;
  vertical-align: middle;
  border: 3px solid black;
  background-color: rgba(0, 217, 255, 0.825);
  display: none; 
}

div.sudoku-popup#victory {
  background-color: rgba(255, 0, 30, 0.825);
}

div.sudoku-popup#intro {
  width: 460px;
  padding: 10px;
  height: auto;
  font-size: 14px; 
}


/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  /* move tooltip below the text */
  bottom: -60%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* Tooltip2 */
.tooltip2 {
  position: relative;
  display: inline-block;
}

.tooltip2 .tooltiptext2 {
  visibility: hidden;
  width: auto; 
  /* background-color: black; */
  color: #000000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: -25px; 
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; 
}

.tooltip2:hover .tooltiptext2 {
  visibility: visible;
}

li {
  text-align: left;
}