@font-face {
  font-family: "NTR";
  font-weight: 200;
  font-display: fallback;
  src: url("/fonts/NTR-Regular.ttf") format("truetype");
}

#education {
  padding-left: 15%;
  padding-right: 25%;
  min-height: 60vh;
}

.education-description ul {
  padding-top: 20px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(500px, 100px));

  /* straight line if the screensize is too small */
  @media only screen and (max-width: 788px) {
    grid-template-columns: repeat(1, minmax(500px, 100px));
  }
  
}

.education-description li {
  position: relative;
  padding-left: 20px;
  font-size: 18px;
  color: var(--slate);
}

.education-description li::before {
  content: "▹    ";
  color: var(--green-bright);
  position: absolute;
  left: 0;
}

.education-content {
  display: flex;
  flex-direction: row;
}

.education-description {
  font-family: "NTR", sans-serif;
  color: var(--slate);
  max-width: 600px;
  font-size: 22px;
  text-align: justify;
  margin: 0;
}

.education-description a,
.education-description b {
  font-size: 21px;
  font-weight: bold;
}

.education-image {
  padding-left: 40px;
}

.education-image img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-left: 30px;
  box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
  border: none;
}

@media only screen and (max-width: 788px) {
  .education-image img {
    max-width: 200px;
  }
}

.education-image:hover {
  transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
  #education {
    height: unset;
    padding-left: unset;
    padding-right: unset;
    padding-top: 30%;
  }

  .education-description {
    font-size: 18px;
    text-align: justify;
  }

  .education-description a,
  .education-description b {
    font-size: 17px;
  }

  .education-image img {
    display: none;
  }

  .education-content {
    display: unset;
  }
}

.intro-contact {
  font-size: 22px;
  font-weight: bolder;
  font-family: "NTR", sans-serif;
  padding: 10px 30px;
  cursor: pointer;
  border: 1px solid var(--green-bright);
  border-radius: 4px;
  margin-top: 20px;
}

.intro-contact:hover {
  background-color: var(--lightest-navy);
}
